
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main, footer {
  padding: 20px;
  text-align: center;
}

header { background-color: #f39c12; color: white; }
main { background-color: #ecf0f1; color: #333; flex: 1; }
footer { background-color: #2ecc71; color: white; }

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


@media (min-width: 769px) {
  body {
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/*Layout mobile */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}


